node_modules
dist
.turbo
.env
.env.local
*.log

# pnpm
.pnpm-store

# Drizzle generated
apps/api/src/db/migrations/*.sql

# Vite
apps/web/dist

# TanStack Router generated
apps/web/src/routeTree.gen.ts
